{% extends "base.html" %}

{% block title %}Login - Playtest Coordinator{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4 text-primary">Playtest Coordinator</h2>

        <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <div class="mb-3">
                <label for="username" class="form-label font-weight-bold">RA Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label font-weight-bold">Password Local</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <!-- <small class="form-text text-muted mt-2 d-block">
                    You can find your Web API Key in your 
                    <a href="https://retroachievements.org/controlpanel.php" target="_blank">RA Control Panel</a>.
                </small> -->
            </div>

            <button type="submit" class="btn btn-primary w-100 font-weight-bold">
                Login
            </button>
            
        </form>
    </div>
</div>
{% endblock %}